<div class="mat-elevation-z8" class="div-table">
  <div fxLayout="row" fxLayoutAlign="end end">
    <mat-form-field appearance="outline" style="width: 40%; font-size: 15px;">
      <mat-label>Buscar</mat-label>
      <input matInput placeholder="Eje. Rolando" (keyup)="filtrarAlumno($event)">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>
  <span>{{mensaje}}</span>
  <table mat-table [dataSource]="dataSource" matSort style="font-size: 16px !important;">
    <ng-container matColumnDef="matricula">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Matrícula</th>
      <td mat-cell *matCellDef="let estudiante"> {{estudiante.matricula}} </td>
    </ng-container>
    <ng-container matColumnDef="nombrecompleto">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre completo</th>
      <td mat-cell *matCellDef="let estudiante"> {{estudiante.nombrecompleto}} </td>
    </ng-container>
    <ng-container matColumnDef="programaeducativo">
      <th mat-header-cell *matHeaderCellDef> Programa educativo </th>
      <td mat-cell *matCellDef="let estudiante"> {{estudiante.programaeducativo}} </td>
    </ng-container>
    <ng-container matColumnDef="seccion">
      <th mat-header-cell *matHeaderCellDef> Seccion </th>
      <td mat-cell *matCellDef="let estudiante"> {{estudiante.seccion}} </td>
    </ng-container>
    <ng-container matColumnDef="bloque">
      <th mat-header-cell *matHeaderCellDef> Bloque </th>
      <td mat-cell *matCellDef="let estudiante"> {{estudiante.bloque}} </td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef style="text-align: center !important;">Acciones</th>
      <td mat-cell *matCellDef="let estudiante" style="text-align: center;">
        <button mat-icon-button matTooltip="Editar alumno" matTooltipPosition="below"
          (click)="editarEstudiante(estudiante)">
          <mat-icon class="icon">create</mat-icon>
        </button>&nbsp;
        <button mat-icon-button matTooltip="Eliminar Alumno" matTooltipPosition="below"
          (click)="eliminarEstudiante(estudiante)">
          <mat-icon class="icon">delete</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>