<app-encabezado-estudiante></app-encabezado-estudiante>
<mat-card class="mat-elevation-z4 card">
    <mat-card-header class="card-header">
        <mat-card-title class="card-tittle">Interseccion</mat-card-title>
    </mat-card-header>
    <mat-card-content class="card-content">
        <div style="margin-top: 10px;">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit consectetur recusandae minima magni, aliquid tenetur ipsum assumenda veritatis, 
            voluptates perferendis alias non rerum dolores possimus repellat commodi soluta voluptatum. Pariatur.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias ab expedita distinctio, odio dicta voluptatum modi, accusantium illum amet cum provident quos? 
            Perferendis asperiores voluptas ab sit? Quasi, cum amet!
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium esse quia, incidunt quos dicta recusandae quibusdam exercitationem harum architecto voluptates ut officiis
             pariatur accusantium, blanditiis maiores. Fugit voluptatibus eligendi expedita?
        </div>
    </mat-card-content>
</mat-card>
