<app-e-academico></app-e-academico>
<mat-card class="mat-elevation-z4" id="contenido-principal">
    <mat-card-content class="content-card">
        <div class="div-principal">
            <div id="div-button">
                <button mat-button [matMenuTriggerFor]="menuEstudiante" class="button-estudiantes" id="button">
                    <mat-icon class="mat-icon">group</mat-icon>
                    Estudiantes
                </button>
                <mat-menu #menuEstudiante="matMenu">
                    <button mat-menu-item routerLink="/home-administrador">
                        <mat-icon>group</mat-icon>
                        <span>Estudiantes registrados</span>
                    </button>
                    <button class="registrar-est" mat-menu-item routerLink="/registrar-estudiante">
                        <mat-icon class="registrar-est">person_add</mat-icon>
                        <span>Registrar estudiante</span>
                    </button>
                </mat-menu>
            </div>
            <div id="div-button" class="boton-registrar">
                <button mat-button [matMenuTriggerFor]="menuAcademico"  id="button">
                    <mat-icon>group</mat-icon>
                    Academicos
                </button>
                <mat-menu #menuAcademico="matMenu">
                    <button mat-menu-item routerLink="/registrar-academico">
                        <mat-icon>person_add</mat-icon>
                        <span>Registrar académico</span>
                    </button>
                </mat-menu>
            </div>
            <!--div id="div-button" class="boton-registrar">
                <button mat-button [matMenuTriggerFor]="menuEjercicio" class="button-ejercicios" id="button">
                    <mat-icon>note</mat-icon>
                    Ejercicios
                </button>
                <mat-menu #menuEjercicio="matMenu">
                    <button mat-menu-item routerLink="">
                        <mat-icon>group</mat-icon>
                        <span>Ejercios disponibles</span>
                    </button>
                    <button mat-menu-item routerLink="">
                        <mat-icon>person_add</mat-icon>
                        <span>Registrar ejercicio</span>
                    </button>
                </mat-menu>
            </!--div-->
        </div>
        <app-academicos-registrados></app-academicos-registrados>
    </mat-card-content>
</mat-card>
<!--app-footer></app-footer-->