mat-toolbar {
  background: #0d47a1;
  color: #fff;
  height: 2em;
  font-size: 16px;
  font-weight: normal;
  float: right;
  width: 230px;
  padding-right: 2em;
  padding-left: 2em;
}

.imgCoFI {
  top: 0px;
  height: 100%;
  width: 50%;
  position: fixed;
}

.nombreSistema {
  color: #003366;
  font-size: 50px;
  text-align: center;
}

.inicioSesion {
  color: #666666;
  font-size: 42px;
  text-align: center;
}

.errorMensaje {
  color: #c85305;
  font-size: 20px;
  text-align: center;
  font-family: Arial, Segoe UI, Gill Sans MT !important;
}

.gridSesion {
  margin-top: 7em;
}

.divMatForm {
  display: flex;
  flex-direction: column;
}

.matForm {
  font-size: 20px;
}

#inputPassword {
  margin-top: 8px;
}

.mat-form-field-label {
  color: gray !important;
}

.mat-form-field-underline {
  margin-top: 0;
  background-color: #E0E0E0 !important;
}

.mat-form-field-ripple {
  background-color: #0d47a1 !important;
}

#errorInput {
  font-size: 14px;
}

.placeholder {
  color: #666666;
  font-size: 16px;
  margin-top: 10px;
}

#btnSesion {
  background: #0d47a1;
  color: white;
  width: 337px;
  height: 44px;
  margin-top: 15px;
}

.contenido2 {
  display: none;
}

@media screen and (max-width: 760px) {
  .contenido {
    display: none;
  }

  .contenido2 {
    display: block;
  }

  .nombreSistema {
    font-size: 50px;
  }

  .divSesion {
    margin-top: 10px;
    font-size: 20px;
    margin-bottom: 20px;
  }

  .errorMensaje {
    font-size: 15px;
    margin-bottom: 40px;
  }

  #btnSesion2 {
    background: #0d47a1;
    color: white;
    width: 80%;
    height: 44px;
    margin-top: 15px;
  }

  .divMatForm {
    align-items: center;
  }

  .matForm {
    width: 80%;
  }
}
