<div class="div-principal">
    <div class="div-caja">
        <mat-card class="mat-elevation-z3 contenido-card">
            <mat-card-header fxLayout="column" fxLayoutAlign="center center">
                <mat-card-title>Teoría elemental de conjuntos</mat-card-title>
            </mat-card-header>
            <mat-card-content fxLayout="column" fxLayoutAlign="center center">
                <img src="assets/img/document.png" style="height: 91px;">
            </mat-card-content>
            <mat-card-actions fxLayout="column" fxLayoutAlign="center center">
                <button class="buton-practicar" mat-button>Leer más</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>