<app-encabezado-estudiante></app-encabezado-estudiante>
<mat-tab-group style="margin-top: -28.5px !important;">
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="mat-icon">note</mat-icon>
      Introducción
    </ng-template>
    <app-introduccion-conjuntos></app-introduccion-conjuntos>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="mat-icon">description</mat-icon>
      Conjuntos 1
    </ng-template>
    <app-conjuntos1></app-conjuntos1>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="mat-icon">description</mat-icon>
      Conjuntos 2
    </ng-template>
    <app-conjuntos2></app-conjuntos2>
  </mat-tab>
</mat-tab-group>