.mat-tab-labels,
.mat-tab-label,
.mat-tab-link {
  color: black;
  font-size: 16px;
  font-weight: normal;
  justify-content: center;
}

.mat-tab-group.mat-primary .mat-ink-bar,
.mat-ink-bar {
  background: #2E86C1;
  height: 2.8px !important;
}

.mat-icon {
  margin-right: 5px;
}